# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\s131321\Documents\OOAD\APIWorkshop\CircuitAPIWorkshop_05012021\BreakThemAll\Team2\APIWorkshop\APIWorkshop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
